<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Contact Me</title>
   
</head>
<body>
    <main>
        <section class="contact-section">
            <h1 class="contact-title">Contact Me</h1>

            <div class="contact-info">
                <p>Email: <a href="mailto:karangill2470@gmail.com">karangill2470@gmail.com</a></p>
                <p>Phone: <a href="tel:+17059052470">705-905-2470</a></p>
            </div>

           
        </section>
    </main>

   

</body>
</html>
